.container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    background-color: var(--color-white);
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
    z-index: 90;
    display: flex;
    justify-content: center;
}

@media (min-width: 1024px) {
    .container {
        display: none;
    }
}