.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 0 80px 0;
}

.mainColumn {
    width: 100%;
}

.infoWrapper {
    margin-top: 32px;
}

.sidebar {
    width: 100%;
}

.mobileOnlyBooking {
    display: block;
    margin-top: 24px;
}

@media (min-width: 1024px) {
    .wrapper {
        flex-direction: row;
        align-items: flex-start;
    }

    .mainColumn {
        flex-grow: 1;
    }

    .sidebar {
        width: 380px;
        flex-shrink: 0;
        position: sticky;
        top: calc(var(--header-height) + 24px);
        height: fit-content;
    }

    .mobileOnlyBooking {
        display: none;
    }
}