.pageHeader {
    padding: 40px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}

.layout {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 80px;
}

.sidebar {
    width: 100%;
}

.mainContent {
    flex-grow: 1;
}

@media (min-width: 1024px) {
    .layout {
        flex-direction: row;
    }

    .sidebar {
        width: 300px;
        flex-shrink: 0;
        position: sticky;
        top: calc(var(--header-height) + 24px);
        height: fit-content;
    }
}