.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mainImageWrapper {
    width: 100%;
    padding-bottom: 66.66%;
    /* 3:2 aspect ratio */
    position: relative;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}

.mainImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity var(--transition-fast);
}

.thumbnailGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.thumbnail {
    width: 100%;
    padding-bottom: 75%;
    /* 4:3 */
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all var(--transition-fast);
    opacity: 0.7;
}

.thumbnail:hover {
    opacity: 1;
}

.active {
    border-color: var(--color-accent);
    opacity: 1;
}